/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import "bootstrap/scss/bootstrap";
@import 'material-icons/iconfont/material-icons.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  @include mat.core();
}

$my-primary: mat.define-palette(mat.$indigo-palette);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($my-theme);


.invalid {
  color: red;
}

* {
  box-sizing: border-box;
}

.btn-primary {
    color: whitesmoke !important;
    background-color: darkcyan !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
