.trip-image {
  img {
    width: 100%;
    height: 100%;
  }

  .img-alt {
    padding: 50px;
  }

  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
}

.card {
  width: 400px;
  height: 250px;

  .more-menu {
    bottom: 0;
    right: 0;
  }
}

.image-placeholder {
  background-color: var(--bs-card-cap-bg);
  height: 120px;
  width: 100%;
}
