.trip-image {
  img {
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 100px;
    object-fit: contain;
  }
  overflow: hidden;
}

.image-placeholder {
  background-color: var(--bs-card-cap-bg);
  height: 120px;
  width: 100%;
}
