<div class="invitations-page">
  <div class="header">
    <h1>Invitations</h1>
    <p>
      Invite friends to join your trips or respond to invitations
    </p>
  </div>

  <div>
    <div class="invitations-page-body d-flex gap-4">
      <div class="w-50">
        <app-invitation-send-card></app-invitation-send-card>
      </div>

      <div class="w-50">
        <app-invitations-received-card></app-invitations-received-card>
      </div>
    </div>

    <div class="mt-3">
      <app-sent-invitations-card></app-sent-invitations-card>
    </div>
  </div>
</div>
