.card {
  margin: auto;
  width: 75%;
}

.image-preview {
  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  max-width: 60%;
}

textarea {
  min-height: 100px;
}

.visibility-button {
  height: 150px;
  border: 2px solid;

  &.selected {
    border: 2px solid darkcyan;
    background-color: oklch(.984 .014 180.72);
    color: darkcyan;
  }

  .subtext {
    font-size: small;
    font-weight: normal;
  }
}

//Mara

.image-preview-multi{
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 4px;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-remove {
  position: absolute;
  top: 2px;
  right: 2px;
  background: rgba(255,255,255,0.7);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0 5px;
  font-weight: bold;
}
