.card {
  margin: auto;
  width: 75%;
}

.image-preview {
  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  max-width: 60%;
}

textarea {
  min-height: 100px;
}

.visibility-button {
  height: 150px;
  border: 2px solid;

  &.selected {
    border: 2px solid darkcyan;
    background-color: oklch(.984 .014 180.72);
    color: darkcyan;
  }

  .subtext {
    font-size: small;
    font-weight: normal;
  }
}
